<%= form_with(model: message, local: true) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :sender_name %>
    <%= form.text_field :sender_name, id: :message_sender_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.phone_field :phone, id: :message_phone, class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= form.label :body %>
    <%= form.text_area :body, id: :message_body, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit("Send Message", class: "btn btn-primary") %>
  </div>
<% end %>
