  <div class="panel panel-default">
    <% messages = Message.where(sender_name: message.sender_name)
      .or(Message.where( sender_name: message.phone))
      .order("created_at DESC") %>
    <% messages.each do |msg| %>
      <div class="panel-body">
        <div class="msg-header">
          <div class="msg_field"><%= msg.sender_name %></div>
          <div class="msg_field"><%= msg.phone %></div>
          <div class="msg_field"><%= message_datetime(msg.created_at) %></div>
        </div>
        <div class="msg_body">
          <%= msg.body %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
