<div class="page-header">
	<h1>Send Message</h1>
</div>

<%= render 'form', message: @message %>

<hr>

<%= render 'message_list', message: @message %>


<%= link_to 'Show', @message %> |
<%= link_to 'Back', messages_path %>
