@import 'bootstrap';

body {
	background-color: lightblue;
}

div.sent {
	display: inline-block;
	border: 1px solid black;
	width: 62.5%; }	
	body {
		background-color: lightblue;
	}


div.msg_header {
	padding: 0px;
	border: 0px;
	background-color: #EEF;
}

div.msg_field {
	display: inline-block;
	font-size: x-small;
	border: 1px dashed lightgrey;
}

div.msg_body {
	font-size: large;
	padding-left: 2em;
	background-color: #EFF;
}

@media only screen and (max-width: 600px) {
	div.msg_field {
		display: block;
		font-size: xx-small;
		color: darkgrey;
		border: none;
		border-left: 1px solid lightgrey;
	}

	div.msg_body {
		font-size: small;
		padding-left: 1em;
	}
}
