<!DOCTYPE html>
<html>
  <head>
    <title>Sms</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
    <% if Rails.env.development? %>
      <h6><%= params.to_s %></h6>
    <% end %>
  </body>
</html>
